.onboarding-4 .onboarding-text {
  text-align: center;
  position: relative;
  margin-bottom: 480px;
  z-index: 1;
}
.onboarding-4 .onboarding-text .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 12px;
  margin-top: -30px;
}
.onboarding-4 .onboarding-text .desc {
  font-size: 16px;
  color: #808080;
}

.onboarding-4 .onboarding-4-Frame {
  display: block;
  position: absolute;
  right: 62px;
  top: 205px;
  opacity: 70%;
}
.onboarding-4 .onboarding-4-myitem {
  position: absolute;
  right: 0;
  bottom: 323px;
}
.onboarding-4 .onboarding-4-tubi {
  position: absolute;
  left: 22px;
  bottom: 153px;
  rotate: calc(-6.2deg);
}
