.onboarding-4 {
  width: 100%;
  height: 100%; /* ✅ 꽉 차게 */
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TOP */
.ob4-top {
  z-index: 2;
  margin-bottom: 30px;
}

.onboarding-4 .onboarding-text {
  text-align: center;
}

.onboarding-4 .onboarding-text .title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
}

.onboarding-4 .onboarding-text .desc {
  margin: 12px 0 0;
  font-size: 16px;
  color: #808080;
}

/* CENTER (프레임 기준점) */
.bg-wrap {
  position: relative;
  z-index: 1;
  opacity: 0.7;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ✅ 프레임이 너무 커져서 레이아웃 밀지 않게 제한 */
.onboarding-4-frame {
  display: block;
  width: auto;
  height: auto;
}

/* inner-wrap(아이템) 프레임 내부에 얹기 */
.inner-wrap {
  position: absolute;
  top: 36%;
  left: 016px;
}

/* myitem 사이즈 필요하면 여기서 */
.onboarding-4-myitem {
  display: block;
  height: auto;
}

/* tubi도 프레임 위에 얹기 (원하면 아래쪽에 더 붙이기 가능) */
.onboarding-4-tubi {
  position: absolute;
  left: -13%;
  bottom: 4%;
  transform: rotate(-6.2deg);
  height: auto;
}

/* BOTTOM (비워둬도 됨) */
.ob4-bottom {
  grid-row: 3;
}
