.onboarding-3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.onboarding-3 {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* 텍스트 */
.onboarding-3 .text-area {
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 15px;
}

.onboarding-3 .title {
  margin-top: -40px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
  text-align: center;
}

.onboarding-3 .sub-title {
  margin-top: 10px;
  font-size: 16px;
  color: #aeaeae;
  text-align: center;
  letter-spacing: -0.5px;
}

.center-bg-layer {
  position: absolute;
  top: 40px;
  left: 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* 필터 버튼 */
.onboarding-3 .filter-area {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}

.onboarding-3 .filter-btn {
  position: relative;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #e9e9e9;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  white-space: nowrap;
}

.onboarding-3 .filter-btn.active {
  background: #111827;
  color: #fff;
  border: none;
}

.onboarding-3 .filter-btn.outline {
  border: 2px solid #3b82f6;
  color: #3b82f6;
}

.onboarding-3 .filter-btn .dot {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 4px;
  height: 4px;
  background: #ef4444;
  border-radius: 50%;
}

/* 상품 영역 */
.onboarding-3 .product-area {
  position: absolute;
  left: 5px;
  top: 218px;
  display: flex;
  gap: 14px;
  margin-top: 30px;
  padding: 0 0 10px 90px;
}

.onboarding-3 .product-card {
  min-width: 126px;
}

.onboarding-3 .img-box {
  width: 126px;
  height: 126px;
  background: #f3f4f6;
  border-radius: 6px;
  position: relative;
}

.onboarding-3 .product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.onboarding-3 .product-img.a {
  width: 55%;
  left: 40%;
}
/* 하트 이미지 */
.onboarding-3 .product-heart {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 20px;
  height: 20px;
}

.onboarding-3 .product-name {
  margin-top: 8px;
  font-size: 12px;
  color: #111827;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.onboarding-3 .price {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 700;
}

.tubi-img {
  position: absolute;
  right: 10px;
  top: 430px;

  width: 150px;
  height: auto;
}
