.main:has(.start-page) {
  padding: 0 !important;
}

.start-page {
  position: relative;
  width: 100%;
}

.start-page .start-text-group {
  position: absolute;
  top: 173px; /* 이미지에 맞춰 높이 조절 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
}

.start-page .start-text-group .start-subtitle {
  margin-bottom: 9px;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
