.start-page {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
}

.start-page .start-text-group {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.start-page .start-logo {
  width: 50%;
  margin-bottom: 130px;
}

.start-page .start-text-group .start-subtitle {
  margin-bottom: 20px;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.start-page img {
  display: flex;
  margin: auto;
}

.start-main {
  min-height: 100vh; /* 또는 100dvh */
}
