.main:has(.start-page) {
  padding: 0 !important;
}

.start-page {
  position: relative;
  width: 100%;
}

.start-page .start-text-group {
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.start-page .start-logo {
  width: 50%;
  margin-bottom: 130px;
}

.start-page .start-text-group .start-subtitle {
  margin-bottom: 20px;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.start-page img {
  display: flex;
  margin: auto;
}
