.livepage {
  background: #000;
  padding-bottom: 40px;
}

.livepage:last-child {
  padding-bottom: 0;
}

.livepage .section-title {
  color: white;
  margin-top: 20px;
}

.livepage .my-artist {
  background: #141414;
  padding-bottom: 40px;
  margin-top: 24px;
  margin-bottom: 0;
}

.livepage .my-artist-name {
  color: #bababa;
}

.livesection {
  padding: 16px;
}

.live-page-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;
}
