.my-artist .artist-card,
.my-artist .artist-more {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  color: #aeaeae;
}

.my-artist .artist-more img {
  margin-bottom: 12px;
}

.my-artist .artist-more .my-artist-name {
  color: #aeaeae;
  white-space: nowrap;
}
.my-artist .artist-card {
  width: 64px;
}

.my-artist .artist-list {
  display: flex;
  background: #fafafa;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  padding: 0px;
  list-style: none;
}

.my-artist .artist-slide {
  width: auto; /* slidesPerView: auto 핵심 */
}

.my-artist .artist-card,
.my-artist .artist-more {
  width: 64px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

.my-artist .artist-img {
  width: 72px;
  height: 72px;
  margin: 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-artist .my-artist-name {
  font-size: 12px;
  color: #333;
}

.my-artist {
  padding: 28px 0 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 30px 16px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

.my-artist .swiper-wrapper {
  padding: 0;
}

.my-artist .artist-slide:has(.artist-more) {
  width: 65px; /* 원하는 만큼 */
}
.my-artist .artist-swiper {
  padding-right: 20px;
  padding-left: 20px;
}
