
/* ShopMiku */
.detail-container {
  padding: 30px 16px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Pretendard", sans-serif;
}

.detail-container h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-intro {
  padding: 100px 0 32px;
  text-align: center;
}

.product-title {
  font-size: 24px;
  font-weight: 600;
  color: #111;
  margin-bottom: 12px;
}

.product-model {
  font-size: 22px;
  color: #999;
}

.print-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.thumbnail-box {
  width: 114px;
  height: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-box img {
  width: 100%;
}

.section-label {
  font-size: 20px;
  color: #939393;
  margin-bottom: 100px;
}

.detail-info {
  margin: 100px 0 32px;
}

.detail-label {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
  text-align: center;
}

.detail-image-card {
  text-align: center;
}

.miku {
  font-size: 22px;
  margin: 8px 0 40px;
}

.mikuTxt {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 1.4;
  font-weight: normal;
  padding: 0 30px;
}