.gacha-backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center; /* 수직 중앙 */
  justify-content: center; /* 수평 중앙 */
  overflow: hidden;
}

/* ======================
   모달 박스
====================== */
.gacha-modal {
  position: relative; /* fixed ❌ */
  z-index: 1;
  pointer-events: auto;

  width: 100%;
  max-width: 430px; /* 🔥 앱 프레임 유지 */
  height: 100vh;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  overflow: hidden;
}

/* ======================
   닫기 버튼
====================== */
.gacha-modal-close-btn {
  width: 24px;
  height: 24px;

  background: none;
  border: none;

  display: flex;
  position: absolute;
  top: 18%;
  right: 10%;
}

/* ======================
   타이틀
====================== */
.gacha-modal-title {
  margin-top: 44px;
  margin-bottom: 28px;
  font-size: 36px;
  font-weight: 500;
}

/* ======================
   결과 슬롯
====================== */
.gacha-result-slot {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gacha-result-image {
  max-width: 60%;
  max-height: 280px;
  object-fit: contain;
}

/* ======================
   하단 텍스트
====================== */
.sticker-gatcha-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 80px;
  margin-top: 48px;
}

.sticker-badge {
  height: 20px;
  padding: 2px 10px;
  border-radius: 999px;
  border: 1px solid #fff;
  font-size: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sticker-desc {
  font-size: 24px;
  font-weight: 500;
}

.sticker-desc span {
  font-size: 16px;
  color: #bfbfbf;
  margin-left: 8px;
}

.sticker-list-btn {
  width: 204px;
  height: 52px;

  border-radius: 34px;
  border: none;

  background: linear-gradient(90deg, #44b1f7, #884dff);
  color: #fff;

  font-size: 16px;
  font-weight: 500;
}
