.coloropt {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: #fff;
}

.coloropt__circle {
  width: 93px;
  height: 93px;
  border-radius: 999px;

  border: 1.5px solid transparent;
  display: grid;
  place-items: center;

  transition: transform 160ms ease, border-color 160ms ease;
}

.coloropt.is-selected .coloropt__circle {
  transform: scale(1);
}

.coloropt__label {
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  color: #CDCBCE;
  gap: 8px;
}

.coloropt__check {
  display: inline-grid;
  place-items: center;
  width: 18px;
  height: 18px;
  border-radius: 999px;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 1;
}
