header {background: #fafafa; padding: 90px 16px 32px; text-align: center; display: flex; justify-content: space-between;   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 144px;           /* 실제 헤더 높이 */
  background: #fff;
  z-index: 200;
  border-bottom: 1px solid #eee;}

