.main-banner {
  width: 100%;
  height: 100%;
  padding: 24px 0 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

.main-banner .banner-swiper {
  width: 100%;
}

.main-banner .banner-swiper .swiper-slide {
  padding: 0 16px;
  height: auto;
}

.main-banner .banner-swiper .swiper-wrapper {
  align-items: center;
  padding: 0 0 24px;
}

.main-banner .banner-swiper img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-controls {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 33%;
  transform: translateX(-60%);
}

.banner-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-fraction {
  color: #000;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 110%;
}

.banner-scrollbar {
  position: relative;
  height: 1px;
  background: #c3c3c3;
}

.banner-scrollbar .swiper-scrollbar-drag {
  height: 100%;
  background: #000;
  left: 0;
  margin: 0;
}

.banner-fraction .swiper-pagination-current {
  color: #000;
}

/* 전체 페이지 수 (오른쪽 숫자) */
.banner-fraction .swiper-pagination-total {
  color: #666;
}

/* / 기호 */
.banner-fraction {
  color: #666;
  font-size: 14px;
}

.swiper-scrollbar {
  height: 3px !important;
}
