.footer {
  color: #000;
  padding: 25px 24px 25px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 0;

  /* ✅ 핵심: 화면 가운데에 430px로 고정 */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;

  height: 90px;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 100;
}
.footer.is-live {
  background-color: #000000;
  border-top: 1px solid #171717;
  color: #ffffff;
}

.footer.is-live .footer-item p {
  color: #ffffff;
}

.footer.is-live .footer-item img {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.footer.is-live .footer-item.active p {
  color: #ffffff;
}

.footer.is-live .footer-item.active img {
  filter: brightness(0) invert(1);
}
