.header {
  padding: 24px 16px 0px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;

  height: 90px;
  background: #fff;
  z-index: 200;
  border-bottom: 1px solid #eee;

  background-color: #ffffff;
  color: #000000;
}

.header.is-live {
  background-color: #000000;
  border-bottom: 1px solid #171717;
}

.header.is-live .header-title {
  color: #ffffff;
}

.header.is-live .header-icon-btn img {
  filter: brightness(0) invert(1);
}

.header.is-live .header-icon-btn img.sharebtn {
  filter: brightness(0) invert(0.5);
}

.header-left,
.header-right {
  width: 30px;
  display: flex;
  align-items: center;
}

.header-right {
  justify-content: flex-end;
  gap: 12px;
}

.header-left {
  justify-content: flex-start;
}

.header-center {
  flex: 1;
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.header-icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header-logo img {
  display: block;
  height: 30px;
}
