.header {
  padding: 24px 16px 24px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;

  height: 90px;
  background: #fff;
  z-index: 200;
  border-bottom: 1px solid #eee;
}

.header-left,
.header-right {
  width: 88px;
  display: flex;
  align-items: center;
}

.header-right {
  justify-content: flex-end;
  gap: 12px;
}

.header-left {
  justify-content: flex-start;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 20px;
  margin: 0;
}

.header-icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header-logo img {
  display: block;
  height: 30px;
}
