.appTit, .appSubTit { color: white; font-size: 36px; font-weight: 600; } 
.appSubTit { font-size: 55px; font-weight: 700; margin-top: 22px; margin-bottom: 8vh; } 

.apptit { position: absolute; text-align: center; top: 23vh; left: 15vw; } 
.apptit img.light { position: absolute; top: -60%; left: -32%; } 
.apptit .btn { display: flex; gap: 20px; justify-content: center; margin-top: 2vh; } 
.apptit button { background: rgba(255, 255, 255, 0.1); color: white; font-size: 26px; padding: 17px 40px; border-radius: 50px; border: 1px solid rgba(255, 255, 255, 0.1) } 

@media (max-width:1600px){
 .appTit, .appSubTit { display: none; } 
 .apptit img.light { display: none; } 
 .apptit .btn { display: flex; flex-direction: column; align-items: center; } 
 }

@media (max-width:1000px){
 .apptit { top: 32vh; left: 10vw; } 
 .apptit button { font-size: 18px; padding: 15px 35px; } 
 .apptit img.logo { width: 70%; } 
 }

 @media (max-width:850px){
 .apptit { display: none; } 
 .app-wrapper .app { margin: 0; } 
 .header { left: 50%; } 
 .footer { left: 50%; } 
 .app-wrapper .app .chatbot-fab { right: 46.5%; } 
 }


/* 화면 전체 배경 + 가운데 정렬 */
.app-wrapper { min-height: 100vh; display: flex; justify-content: center; background: #f5f5f5; background-image: url(/public/img/background.svg); } 

/* 실제 앱 영역 (430px 고정) */
.app { margin-right: -44%; width: 100%; max-width: 430px; height: 100vh; background: #ffffff; display: flex; flex-direction: column; position: relative; } 

/* 페이지 내용 영역 */
.main { width: 100%; min-width: 0; flex: 1; padding: 90px 0 90px; overflow-y: auto; box-sizing: border-box; min-height: 0; } 

.main::-webkit-scrollbar,
.chat-body::-webkit-scrollbar { display: none; /* Chrome/Safari */ } 

.main,
.chat-body { -ms-overflow-style: none; /* IE/Edge 구버전 */
 scrollbar-width: none; /* Firefox */ } 

.main--noBottom { padding: 90px 0 0; } 

.main--chat { overflow-y: hidden !important; /* ✅ 이게 핵심 */
 overflow-x: hidden !important; display: flex; flex-direction: column; min-height: 0; /* ✅ flex 스크롤 안정화 */ } 

.app,
.main { overflow-x: hidden; } 

html::-webkit-scrollbar,
body::-webkit-scrollbar { display: none; } 

.main::-webkit-scrollbar { display: none; } 

/* Firefox */
html { scrollbar-width: none; } 

/* IE, Edge 구버전 */
body { -ms-overflow-style: none; } 

/* 헤더/푸터 없는 페이지에서 main이 화면 꽉 차게 */
.main--nochrome { padding: 0; height: 100vh; /* 기존 main이 flex/height 구조면 여기로 맞춰짐 */
 overflow: auto; } 


.main--artist { padding: 0 0 90px; } 
