.ob-footer {
  height: 110px;
  padding: 0 16px 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: transparent;
}

/* ✅ 1~3: NEXT + 화살표 */
.ob-next-icon {
  align-items: center;
  gap: 8px;

  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 16px;
  padding-bottom: 30px;
  position: relative;
}

.ob-next-text {
  font-size: 20px;
  font-weight: 400;
  color: #461f94;
  padding-right: 20px;
}

.ob-next-arrow {
  position: absolute;
  width: 70px; /* 이미지 크기에 맞게 조절 */
  height: auto;
  display: block;
  bottom: 23px;
  right: 17px;
}

/* ✅ 4: 큰 CTA 버튼 */
.ob-cta {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 18px 0;

  background: #884dff; /* 필요하면 그라데이션도 가능 */
  color: #fff;
  font-size: 20px;
  font-weight: 400;

  cursor: pointer;
}
