* {
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
