.shop-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.shop-tag {
  display: inline-flex;
  align-items: center;

  padding: 8px 10px;
  border-radius: 5px;

  background-color: #f9f9f9;

  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;

  white-space: nowrap;
}
