.shop-new {
  margin: 24px 16px 16px;
}

.shop-new .shop-new-box {
  padding: 30px 30px 20px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  border-radius: 10px;
}

.shop-new .shop-new-box .shop-new-toprow {
  display: flex;
  justify-content: space-between;
}

.shop-new .shop-new-box .shop-new-toprow .shop-new-link img {
  margin-left: 4px;
}

.shop-new .shop-new-box .shop-new-toprow .shop-new-sort img {
  height: 12px;
  width: auto;
}

.shop-new .shop-new-box .shop-new-toprow .shop-new-link,
.shop-new .shop-new-box .shop-new-toprow .shop-new-sort {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.shop-new .shop-new-box .shop-new-toprow span {
  color: #929292;
}

/* 탭 Swiper */
.shop-new .shop-new-tabs-swiper .swiper-wrapper {
  padding: 24px 0 !important;
}

.shop-new-tab-slide {
  width: auto !important;
}

.shop-new-tab {
  background: #fff;
  border: 1px solid #e9e9e9;
  padding: 8px 17px;
  border-radius: 50px;
  cursor: pointer;
}

.shop-new-tab.is-active {
  background: #333333;
  border: none;
  color: #fff;
}

/* 상품 Swiper */
.shop-new .shop-new-products-swiper .swiper-wrapper {
  padding: 0 0 60px !important;
}

.shop-new-product-slide {
  width: 173px !important;
}

/* thumb */
.shop-new-thumb {
  width: 173px;
  margin: 0 auto;
}

.shop-new-thumb img {
  border-radius: 10px;
}

/* 카드 */
.shop-new-card {
  position: relative;
  padding-bottom: 20px;
}

.shop-new-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 16px;
}

.shop-new-price {
  font-size: 16px;
  font-weight: 800;
  color: #333333;
  margin-bottom: 10px;
}

/* 뱃지 */
.shop-new-badges {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.shop-new-badges .badge {
  position: static !important;
  color: #0cb889;
  white-space: nowrap;
  padding: 4px 4px;
  background: #e9fff9;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: 12px;
}

.shop-new-badges .badge.is-blue {
  color: #046aff;
  background: #e9f2ff;
}

.shop-new-badges .badge.is-gray {
  color: #7b787e;
  background: #e9e9e9;
}

.shop-new-badges .badge.is-red {
  color: #ff6062;
  background: #fff3f3;
}

/* 컨트롤 */
.shop-new-products {
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
}

.shop-new-products-controls {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 33%;
  transform: translateX(-65%);
}

.shop-new-products-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.shop-new-products-pagination {
  position: static !important;
  white-space: nowrap;
  font-size: 14px;
  color: #666;
  opacity: 1 !important;
  margin-left: 110%;
}

.shop-new-products-scrollbar {
  flex: 1;
  position: relative;
  height: 3px !important;
  background: #c3c3c3;
  opacity: 1 !important;
}

.shop-new-products-scrollbar .swiper-scrollbar-drag {
  height: 100%;
  background: #000;
}

.shop-new-products-pagination .swiper-pagination-current {
  color: #000;
}

.shop-new-products-pagination .swiper-pagination-total {
  color: #666;
}

/* 하단 버튼 */
.direct-btn {
  width: 100%;
  padding: 18px 14px;
  border: none;
  background: linear-gradient(90deg, #44b1f7 0%, #884dff 100%);
  border-radius: 6px;
  cursor: pointer;
}

.direct-btn .direct-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.direct-btn .direct-btn-box p,
.direct-btn .direct-btn-box span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.direct-btn .direct-btn-box span img {
  margin-left: 6px;
}

.shop-new-thumb {
  position: relative;
}

.shop-new-wish {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;

  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.shop-new-wish img {
  width: 32px;
  height: 32px;
  display: block;
}
