.shop-promo-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 22px 5px;
  margin: 0 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  color: white;

  cursor: pointer;
  overflow: hidden;
}

.shop-promo-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shop-promo-title {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.shop-promo-subtitle-img {
  height: 18px;
  width: auto;
  object-fit: contain;
}

.shop-promo-image {
  flex-shrink: 0;
}

.shop-promo-image img {
  object-fit: contain;
}