.shop-important {
  padding: 0 16px;
  margin: 60px 0;
}

.shop-important-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.shop-important-title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  padding: 26px 24px 20px;
}

/* swiper */
.shop-important-swiper-wrap {
  margin-bottom: 20px;
}

.shop-important-swiper {
  width: 100%;
}

.shop-important-slide {
  width: 300px; /* ✅ 카드 폭 (원하면 210~260 사이로 조절) */
}

.shop-important .notice-card {
  border-radius: 10px;
  padding: 14px 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shop-important .notice-badge {
  display: inline-flex;
  align-items: center;
  height: 18px;
  padding: 8px 6px;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.2px;
  width: fit-content;
}

/* ✅ 배지 4종 */
.shop-important .notice-badge.is-all {
  color: #884dff;
  border: 1px solid #884dff;
}
.shop-important .notice-badge.is-plave {
  color: #26a5ff;
  border: 1px solid #26a5ff;
}
.shop-important .notice-badge.is-hebi {
  color: #0020ef;
  border: 1px solid #0020ef;
}
.shop-important .notice-badge.is-irise {
  color: #e477ff;
  border: 1px solid #e477ff;
}

.shop-important .notice-title {
  font-size: 16px;
  line-height: 1.1;
  color: #000;
  font-weight: 400;

  /* ✅ 2줄까지만 보이게 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-line; /* \n 줄바꿈 적용 */
}

.shop-important .notice-date {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: auto;
}

/* 하단 버튼 */
.shop-important-cta {
  width: 100%;
  border: none;
  border-top: 1px solid #efefef;
  background: none;
  color: #333;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.shop-important-cta-text img {
  margin-right: 8px;
}
/* ✅ 공지 카드 배경색 4종 */
.shop-important .notice-card.is-all {
  background: #f4f1fb;
}
.shop-important .notice-card.is-plave {
  background: #ebf4fb;
}
.shop-important .notice-card.is-hebi {
  background: #f1f2fd;
}
.shop-important .notice-card.is-irise {
  background: #f8effa;
}
