.event-banner {
  width: 100%;
  padding: 11px 14px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;

  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.event-banner-text .highlight {
  color: #7294fc;
}
